STYLO-ONLINE PROTOCAL & CONFIG

Name: none_subject_first-draft_id_date_default.styloahonline

Date: 1724843578547

INPUT SEC
Note: 

NORM SEC
Note: 

+ String-normalform: NFKD 
- Stop Words NOT removed 
+ disambiguate (common code point for equal visual forms) some diacritics 
+ disambiguate some dashes 
- NOT UV unified 
- NOT JI unified 
+ markup deleted 
+ deleted punctuation
+ newline deleted 
- NOT elisions expanded 
- NOT cared for alpha privativum 
- NOT numbering (i.e. [8]) deleted 
+ cared for hyphenation 
+ replaced iota subscriptum with ioita ad scriptum 
+ replaced tailing sigmna with sigma 
+ diacritics deleted 
- NOT modern diacritics deleted 
+ unknown signs deleted 
+ replaced ligatures 
+ equal case (lower) 
+ brackets deleted 
- NOT transliterated 
DECOMPOSITION SEC
Note: 

+ gram level: Signs of whole string (inclu. space characters)  
Size of Vocabulary (BPE):
Size of GRAM:3
Size of GAP:1
COUNTING SEC
Note: 

Series increment: 
Counting: 1(0:abs, 1:ref, 2:0/1, 3:TF-IDF, 4:TF-IDF/TF-corpus, 5: TF, 6: z-Scores)
Maximum length of frequnecy list: 
From min frequency: 0 to max frequency value1000
MFW per text: false
Culling min: 
Culling max: 
Text length normalization: false
Given split length: 
Given parts count: 
MEASSURE SEC
Note: 

Measure: euclideanM
Measure additional value: 1
CLUSTER SEC
Note: 

Cluster analysis / Embedding: 7
Hierarchical cluster linkage: 1
EXPORT SEC
Note: 

Export conf file: false
Export stop word list: false
Export raw text files: false
Export normed text files: false
Export decomposition as text: false
Export frequnecy list: false
Export distance matrix: true
Export cluster as text: true
Export cluster as SVG: true
Export PNG instead of SVG: false













:::::::::::;;;true;;;true;;;false;;;false;;;true;;;true;;;true;;;false;;;false;;;false;;;true;;;true;;;true;;;true;;;true;;;true;;;true;;;true;;;;;;;;;false;;;false;;;false;;;false;;;false;;;3;;;3;;;0;;;;;;;;;0;;;1000;;;;;;;;;euclideanM;;;1;;;7;;;false;;;false;;;false;;;false;;;false;;;true;;;true;;;true;;;;;;;;;;;;;;;;;;;;;;;;none;;;4;;;subject;;;;;;3;;;id;;;date;;;;;;default;;;;;;true;;;false;;;false;;;1;;;430;;;1;;;1;;;1000;;;1000;;;false;;;false;;;false;;;false;;;;;;;;;;;;false;;;false